<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{ title }}</a>
  <ul class="nav nav-pills">
    <li>
      <a class="nav-item nav-link" [routerLink]="['/login']"> Login </a>
    </li>
    <li>
      <a class="nav-item nav-link" [routerLink]="['/globaluser']">
        Dashboard
      </a>
    </li>
    <li>
      <a
        *ngIf="isLoggedIn | async"
        class="nav-item nav-link"
        [routerLink]="['/logout']"
        (click)="logout()"
      >
        Logout
      </a>
    </li>
    <!--  -->
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
